<footer class="row">
  <div class="container">
    <p class="muted credit"><a href="https://github.com/fusion94/rims">Rails Inventory Management System</a> - RIMS &copy; 2013-2014</p>
  </div>
</footer>
