
<div class="container text-center">
  <div id="footer">
    <p class="muted credit"><a href="https://github.com/DamageStudios/rims">Rails Inventory Management System</a> - RIMS &copy; 2013-2014</p>
  </div>
</div>
