<div class="hero-unit">
<h3>Rails Inventory Management System (RIMS)</h3>
<p>RIMS is an Open Source Inventory Management System designed primarily to keep track of electronic parts and components. It will allow you to keep track of your available parts and assist you with re-ordering parts.

<h3>Project Status</h3>
<p>This project is currently in an early alpha stage. Code quality is improving constantly. However, this project is not ready for production yet.
</div>
