<div class="jumbotron">
  <div class="row">
    <div class="span3">
      <img alt="Logo" class="logo" src="/images/rims-icon.png">
    </div>

  <div class="span7">
    <h2>Rails Inventory Management System (RIMS)</h2>

    <p>RIMS is an Open Source Inventory Management System designed primarily to keep track of electronic parts and components. It will allow you to keep track of your available parts and assist you with re-ordering parts.</p>

    <h2>Project Status</h2>
    <p>This project is currently in an early alpha stage. Code quality is improving constantly. However, this project is not ready for production yet.</p>

    <p>If you'd like to contribute to its development head over to <a href="https://github.com/DamageStudios/rims">Github</a> page and read through the documentation and issue queue.</p>
  </div>

  </div>
</div>
