<%= form_tag items_path, :method => 'get', :id => "inventory_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="inventory"><%= render 'items' %></div>
<% end %>
