<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Items in Inventory</h3>
  </div>

  <div class="panel-body">
    <div id="inventory"><%= render 'items' %></div>
  </div>
</div>
