<h3>Items in Inventory</h3>

<div class="row">
  <table class="table table-striped">
    <th>Item Name</th>
    <th>Model</th>
    <th>Quantity</th>

    <% @items.each do |item| %>
    <tr>
    <td><%= link_to item.name, item %></td>
    <td><%= item.product_model_number %></td>
    <td><%= item.quantity %></td>
    </tr>
    <% end -%>

  </table>
</div>
